body{
    background-color:white;
    padding:10px;
    margin:20px;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width:100%;
    background-color:rgb(92, 89, 89);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
   
 
}
.opus-logo{
    width: 130px;
    padding:10px;
    cursor: pointer;

}


.list-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: center;
    
}


.list-item{
    padding:5px;
    margin-right:5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}


.list-item:hover{
    background-color: rgb(19, 227, 250);
    color:black;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
  
    
}


.list-item.active{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width:500px){
    .list-item{
        font-size:12px;
    }
    .opus-logo{
        width:100px;
    }
    .contact-icons{
        font-size:12px;
    }
}


.anchor{
    color:white;
    text-decoration: none;
    font-family:"calibri";
    cursor:pointer;
}

.container-overall{
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExam5sMmg3M2pzcnE0ZGVkNjM5NTdoc2tibzBxbXF5YTRwaHFpbHh6cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3otO6NFBIAFg2vPZuM/giphy.gif");
    margin-top:15px;
    background-size: cover;
    border-radius:10px;
    padding:15px 12px 10px 12px;

}

.content-cont{
    margin-top:10px;
    
}


.footer-div{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    
}
.foot{
    text-align: center;
    padding-top:55px;
font-weight:700;
}

.anchor2{
    color:rgb(18, 3, 3);
    text-decoration: none;
    font-family:"calibri";
    cursor:pointer;


}
.anchor2:hover{
font-weight: bold;
font-size: 20px; 
transition:0.5s ease-out; 
}

.img-styling{
    border-radius: 25px;
    border: 1px solid black;
  
}


.slideshow {
    width: 50%;
    max-width: 800px;
    margin: auto;
}



.page-title-heading{
    background-color:black;
    color:white; 
    text-align:center;
    padding:10px;
    border-radius:10px;
    font-size:25px;
}

.contact-icons{
display:flex; 
flex-direction: column;
align-items:center; 
margin:15px;
font-size:18px;


}
.career-img{
    width:70%;
    margin:auto;
    display:block;
    border-radius: 25px;
    border: 1px solid black;

}
.submit-btn{
    color:black;
    background-color:rgb(19, 227, 250);
    border:2px solid black;
    padding:10px;
    border-radius:10px;

}
.submit-btn:hover{
    background-color:black;
    color:white;
    border:2px solid black;

}
