body{
    background-color:white;
    padding:20px;
    margin:15px;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
     width: 100%;
    background-color:rgb(92, 89, 89);
    position: fixed;
    top: 0;
    left: 0;
   
 
}
.opus-logo{
    width: 150px;
    padding:0px 10px 0px 10px;
    cursor: pointer;

}


.list-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.list-item{
    padding:5px;
    text-align: center;
    
 
}

.list-item:hover{
    background-color: rgb(19, 227, 250);
    color:black;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  
    
}
.anchor{
    color:white;
    text-decoration: none;
    font-family:"calibri";
    cursor:pointer;
}
.anchor:hover{
    color:black;
}


.content-cont{
    margin-top:25px;
    
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color: rgba(255,255,255,0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;
}

.home-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bounceIn 7s ease-in 
}

@keyframes bounceIn {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;
}
#services{
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;

}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;

}


.footer-div{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    
}
.foot{
    text-align: center;
    padding-top:55px;
font-weight:700;
}

.anchor2{
    color:rgb(18, 3, 3);
    text-decoration: none;
    font-family:"calibri";
    cursor:pointer;


}
.anchor2:hover{
font-weight: bold;
font-size: 20px; 
transition:0.5s ease-out; 
}

.img-styling{
    border-radius: 25px;
    border: 1px solid black;
  
}


.slideshow {
    width: 50%;
    max-width: 800px;
    margin: auto;
}




.page-title-heading{
    background-color:black;
    color:white; 
    text-align:center;
    padding:10px;
    border-radius:10px;
    font-size:25px;
}

.contact-icons{
display:flex; 
flex-direction: column; 
align-items:center; 
margin:15px;
font-size:18px;
}
.career-img{
    width:70%;
    margin:auto;
    display:block;
    border-radius: 25px;
    border: 1px solid black;

}