body{
    background-color:rgb(156, 239, 238);
    padding:0px;
    margin:0px;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color:grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 
}

.logo{
    font-family:"Roboto";
    padding-left: 10px;
    font-size: 20px;
}

.list-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

.list-item{
    padding-right: 10px;
}
.content-cont{
    margin-top:100px;
    
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;
}
#services{
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;

}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.815);
    border: 3px solid #73AD21;
    border-radius: 10px;

}
.footer-div{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}
.foot{
    text-align: center;
}